@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');


*, *::after, *::before {

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: 'Shadows Into Light', cursive;
  font-size: 16px;
  font-weight: 400;
  color: #333;
  background-color: khaki;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}


button {
  outline: none;
  background-color: darkorchid;
  border: none;
  color: #fff;
  font-family: inherit;
  font-size: 2rem;
  padding: .5rem 1rem;
  border-radius: 7px;
  box-shadow:  -2px -2px 5px 2px rgba(255,255,2555,.9),
              2px 2px 5px 0 rgba(0,0,0,.5);
  cursor: pointer;
}

button:active {
  box-shadow:  2px 2px 5px 2px rgba(255,255,2555,.9),
  -2px -2px 5px 0 rgba(0,0,0,.5);
}